@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Cairo", sans-serif;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  direction: rtl;
}
.containerS {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .containerS {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .containerS {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .containerS {
    max-width: 700px;
  }
}
